
.icon-home:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
