/* imports for fonts */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Rock+Salt&display=swap');

body
{
  color: #303030;
  font-weight: 700;
  font-size: 2em;
  background-image: linear-gradient(125deg, azure 0%, cornflowerblue 100%);
    letter-spacing: 2px;
  overflow: hidden;
  letter-spacing: 2px;
}

#center
{
    font-family: 'Rock Salt', cursive;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 50%;
    text-shadow: -1px 1px black;
    left: 50%;
}

#des
{
    font-size: 0.5em;
    margin: 1em;
    line-height: 1.5em;
    font-family: 'Luckiest Guy', cursive;
}

#title
{
    font-size: 0.5em;
    margin: 1em;
    line-height: 1.5em;
}