header, aside, nav, main, section, article
{
    display: block;
}

.navi
{
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.icon-github
{
    color: #6e5494 !important;
}

.icon-linkedin
{
    color: #0e76a8 !important;
}

#socials
{
    position: fixed;
    right: 0;
    top: 50%;
    font-size: 2em;
z-index: 2;
}

.light-mode-bg > a
{
    background-color: rgba(0,0,0,0.5) !important;
}

#socials.light-mode-bg
{
    background: none !important;
}

#socials > a
{
    display: block;
    background-color: rgba( 255, 255, 255, 0.1 );
    box-shadow: 4px 4px black;
    margin: 5px;
    padding: 2px;
}

#socials > a:hover
{
    box-shadow: 2px 2px black;
    margin: 7px  2px 2px 7px;
}

.card
{
    opacity: 70%;
    z-index: 0;
    transition-duration: 1s;
}

.card:hover
{
    transform: scale(1.1);
    opacity: 100%;
    z-index: 1;
}

.run_animation
{
    animation: slidein 2s linear;
}

#main_div
{
    background-image: url("img/pexels-itzyphoto-2901581.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    transition-duration: 1s;
    animation: 2s linear;
    animation-name: slidein;
    background-position: center;
}

.light-mode
{
    background-image: url("img/desert-min.webp") !important; /* by Francesco Ungaro on Pexels */
    background-size: cover;
    transition-duration: 1s;
    background-repeat: no-repeat;
    background-position: center;
}

.light-mode-text
{
    color: black !important;
    text-shadow: 2px 2px rgba(0,0,0,0.5) !important;
    animation: none;
}

.light-mode-text > a
{
    color: black !important;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
                0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff,
                0 0 42px #5271ff,
                0 0 82px #5271ff,
                0 0 92px #5271ff,
                0 0 102px #5271ff,
                0 0 151px #5271ff;
    }
    20%, 24%, 55% {
        text-shadow: none;
    }
}

#title {
    color: #fff;
    transform: skew(-10deg);
    animation: flicker 5s infinite alternate;
    text-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #5271ff,
    0 0 82px #5271ff,
    0 0 92px #5271ff,
    0 0 102px #5271ff,
    0 0 151px #5271ff;
}


#btn_switch
{
    background: transparent;
    color: white;
    border-radius: 10px;
    box-shadow: 4px 4px black;
    animation-duration: 0.2s;
}

.clicked
{
    box-shadow: 1px 1px black !important;
}

#sun
{
    transform-origin: center;
    margin: 0 !important;
}


#my_profile
{
    width: 300px;
    background-attachment: fixed;
    background-blend-mode: screen;
    height: auto;
    position: relative;
    animation: 2s linear;
    z-index: 0;
    border: 2px solid black;
    border-radius: 10px;
}

.text-opacity-50
{
    opacity: 50% !important;
}

#my_profile2
{
    width: 300px;
    background-attachment: fixed;
    background-blend-mode: screen;
    position: relative;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    animation: 2s linear;
    z-index: 1;
}

@keyframes slidein {

        0% {opacity: 0%; }
        10% {opacity: 10%; }
        20% {opacity: 20%; }
        30% {opacity: 30%; }
        40% {opacity: 40%; }
        50% {opacity: 50%; }
        60% {opacity: 60%; }
        70% {opacity: 70%; }
}

@keyframes image {

    0% {
        rotate: 20deg;
    }
    100% {
        rotate: 0deg;
    }
}

@media (min-width: 992px) {
    #my_profile2
    {
        position: absolute;
        transform: rotate(-20deg);
        left: 52%;
        top: 15%;
        width: 150px;
    }

    #clock
    {
        margin-left: 25% !important;
    }

    #my_profile
    {
        width: 200px;
        transform: rotate(5deg);
    }
}

@media (min-width: 1200px) {
    #my_profile
    {
        width: 300px;
    }
    #my_profile2
    {
        width: 200px;
    }
}

.custom-shape {
    width: 300px;
    height: 300px;
}

@keyframes flicker_box {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        box-shadow:
                0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff,
                0 0 42px #5271ff
    }
    20%, 24%, 55% {
        box-shadow: none;
    }
}

.light-mode-bg
{
    background-color: rgba(0,0,0,0.5) !important;
    box-shadow: 0 0 !important;
}

.light-mode-bg > .hand
{
    background-color: white !important;
}

#clock
{
    width: 100px;
    height: 100px;
    transform: translate(-50%, 0);
    border: 3px solid white;
    background-color: white;
    border-radius: 50%;
    margin-left: 50%;
    animation: flicker_box 2s infinite alternate;
    box-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #5271ff;
    transition-duration: 1s;
}


.hand
{
    position: absolute;
    left: 50%;
    bottom: 50%;
    height: 50%;
    font-size: 1rem;
    margin: 0;
    background-color: black;
    transform-origin: bottom;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;
    transform: translate(-50%, 0);
}

#minute
{
    width: 3px;
    height: 35%;
    --rotation: 0;
    transform: translate(-50%, 0) rotate(calc(var(--rotation) * 1deg));
    z-index: 2;
}

#hour
{
    width: 5px;
    height: 30%;
    --rotation: 30;
    transform: translate(-50%, 0) rotate(calc(var(--rotation) * 1deg));
    z-index: 1;
}

#second
{
    background-color: orangered;
    width: 1px;
    --rotation: 60;
    transform: translate(-50%, 0) rotate(calc(var(--rotation) * 1deg));
    z-index: 3;
}

#second_second
{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 20%;
    background-color: orangered;
    width: 1px;
    --rotation: 60;
    transform-origin: top;
    transform: translate(-50%, 0) rotate(calc(var(--rotation) * 1deg));
    z-index: 3;
}

#dot
{
    background-color: orangered;
    border: 2px orangered solid;
    height: 7%;
    width: 7%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 50%;
}