
@media only screen and (max-device-width: 1000px) {
    #tekst
    {
        font-size: 60px !important;
    }
}

@media only screen and (max-device-width: 800px) {
    #tekst
    {
        transform: translate(-50%, -50%)!important;
        text-shadow: none !important;
        font-size: 20px !important;
    }
}